<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
      <property name="connection.driver_class">org.postgresql.Driver</property>
      <property name="connection.url">jdbc:postgresql://localhost:5433/godtools</property>
      <property name="connection.username">godtoolsuser</property>
      <property name="connection.password">godtoolsuser</property>
    <!-- DB schema will be updated if needed -->
    <!-- <property name="hbm2ddl.auto">update</property> -->

      <!-- SQL dialect -->
      <property name="dialect">org.hibernate.dialect.PostgreSQL9Dialect</property>

      <!-- Use Annotation-based mapping metadata -->
      <mapping class="org.cru.godtools.domain.authentication.AuthorizationRecord"/>
      <mapping class="org.cru.godtools.domain.authentication.AccessCodeRecord"/>
      <mapping class="org.cru.godtools.domain.notifications.Device"/>
      <mapping class="org.cru.godtools.domain.images.Image"/>
      <mapping class="org.cru.godtools.domain.languages.Language"/>
      <mapping class="org.cru.godtools.domain.notifications.Notification"/>
      <mapping class="org.cru.godtools.domain.packages.Package"/>
      <mapping class="org.cru.godtools.domain.packages.PackageStructure"/>
      <mapping class="org.cru.godtools.domain.packages.PageStructure"/>
      <mapping class="org.cru.godtools.domain.images.ReferencedImage"/>
      <mapping class="org.cru.godtools.domain.packages.TranslationElement"/>
  </session-factory>
</hibernate-configuration>